* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  align-content: center;
  align-items: center;
  text-align: center;
}

#cal {
  margin-top: 40px;
  width: 45%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1px solid rgb(185, 185, 185);
}

.cal-linha {
  padding: 5px;
  height: 80px;
  background-color: rgb(245, 245, 245);
}
.cal-item {
  width:  80px;
  height: 80px;
  border: 1px solid rgb(197, 197, 197);
  background-color: rgb(255, 255, 255);
  display: inline-block
}
